
     <div class="top-content" data-ng-controller="CoachReportCtrl">	
        <div class="inner-bg" style="background-color:#ffffff;">
            <div class="container">

              <div style="background-color:#FFFFFF;">
                   <h2 style="color:#565656;"><b>Izveštaj za trenere</b></h2> <br />
              </div>
        
                <div class="row">
                   <div class="col-md-12">
                       <div class="form-bottom" style="background-color:#FCFFFF; border: 1px groove; border-color:#C2C2C2">
                             <form class="form-horizontal" role="form">

                                 <div class="form-group">
                                    <label class="control-label col-sm-1" for="Trener">Trener:</label>
                                    <div class="col-sm-4">                           
                                        <select class="form-control" data-ng-model="CoachForReport">   
                                            <optgroup style="font-size:18px;" label="Treneri">                           
                                                 <option data-ng-repeat="coach in model" value={{coach.Coach_Internal_Id}}>{{coach.FirstName}} {{coach.LastName}}</option>
                                             </optgroup>
                                         </select>
                                     </div> 
                                 </div>
                                  <div class="form-group"> 
                                    <label class="control-label col-sm-1" for="Od">Od:</label>
                                     <div class="col-sm-1"> 
                                        <input type="number" class="form-control" min="1" max="31"  data-ng-model="day1"/>
                                     </div>
                                    <div class="col-sm-1"> 
                                        <input type="number" class="form-control" min="1" max="12"  data-ng-model="month1"/>
                                     </div>
                                    <div class="col-sm-2"> 
                                        <input type="number" class="form-control" min="2000" max="2100"  data-ng-model="year1"/>
                                     </div>
                                     <div class="col-sm-1"> 
                                     </div>

                                    <label class="control-label col-sm-1" for="Do">Do:</label>
                                     <div class="col-sm-1"> 
                                        <input type="number" class="form-control" min="1" max="31"  data-ng-model="day2"/>
                                     </div>
                                    <div class="col-sm-1"> 
                                        <input type="number" class="form-control" min="1" max="12"  data-ng-model="month2"/>
                                     </div>
                                    <div class="col-sm-2"> 
                                        <input type="number" class="form-control" min="2000" max="2100"  data-ng-model="year2"/>
                                     </div>
                                </div>                                                              
                              </form>
                         </div>
                     </div>
               </div>
                <div class="row">
                   <div class="col-md-12">
                       <div class="form-bottom" style="background-color:#ffffff;">
                             <form class="form-horizontal" role="form">
                                 <div class="form-group">    
                                     <div class="col-sm-2">                                                               
                                        <p><a class="btn btn-primary" data-ng-mouseover="prepareReportModel()" data-ng-href="@Url.Action("ExportCoachReport","Report")?id={{ReportModel.Id}}&fromDate={{ReportModel.FromDate}}&toDate={{ReportModel.ToDate}}">Napravi izveštaj</a></p>                                        
                                    </div>  
                              </form>
                         </div>
                     </div>
               </div>             
        </div>
    </div>
 </div>

